<ion-header>
  <ion-toolbar>
    <ion-title>addPatient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addPatientForm" >

    <ion-grid>
      <ion-row>
        <ion-col class="d-flex justify-content-center">
          <ion-avatar class="ion-margin-start ">
            <img src="./avatar.svg">
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col >
          <ion-item class="rounded-shape">
            <ion-label position="stacked">First Name</ion-label>
            <ion-input formControlName="firstName"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col >
          <ion-item class="rounded-shape">
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input formControlName="lastName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="rounded-shape">
            <ion-label position="stacked">Username</ion-label>
            <ion-input formControlName="username"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="rounded-shape">
            <ion-label position="stacked">E-mail</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="rounded-shape">
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input type="number" formControlName="phoneNumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="rounded-shape">
            <ion-label position="stacked">Location</ion-label>
            <ion-input type="text" formControlName="mapLocation" readonly="true"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-chip class="taille" (click)="addLocation()" color="primary">
            <ion-icon name="location" color="primary"></ion-icon>
            <ion-label>Add Location</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>

      <ion-radio-group formControlName="sexe">
        <ion-list-header>Sexe</ion-list-header>
        <ion-row>
          <ion-col>
            <ion-item-group>

            <ion-item class="rounded-shape-persoMale">
              <ion-label>Male</ion-label>
              <ion-radio value="Male"></ion-radio>
            </ion-item>

            <ion-item class="rounded-shape-persoFemale">
              <ion-label>Female</ion-label>
              <ion-radio value="Female"></ion-radio>
            </ion-item>
            </ion-item-group>

          </ion-col>
        </ion-row>
      </ion-radio-group>

        <ion-row>
          <ion-col>
            <ion-item class="rounded-shape">
              <ion-label>Birth Date</ion-label>
              <ion-datetime placeholder="Select Date" formControlName="birthDate"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="rounded-shape">
            <ion-label position="stacked">Ville</ion-label>
            <ion-input formControlName="ville"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item class="rounded-shape">
            <ion-label position="stacked">Address</ion-label>
            <ion-input formControlName="address"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <ion-item class="rounded-shape">
              <ion-label position="stacked">Family Numbers</ion-label>
              <ion-input type="number" formControlName="familyNumber"></ion-input>
            </ion-item>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="rounded-shape">
            <ion-label position="stacked">Phone Number 1</ion-label>
            <ion-input type="tel" formControlName="familyPhoneNumber1"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item class="rounded-shape">
            <ion-label position="stacked" >Phone Number 2</ion-label>
            <ion-input type="tel" formControlName="familyPhoneNumber2"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-col class="d-flex justify-content-center">
        <ion-button (click)="onSubmit()" [disabled]="!addPatientForm.valid" class="field" expand="round">Submit</ion-button>
      </ion-col>
    </ion-grid>

  </form>




</ion-content>
