.rounded-shape{
  border-radius: 15px;
}

.rounded-shape-persoMale{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

}

.rounded-shape-persoFemale{
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;}

.field{
  width: 50%;
}

#map{
  height: 300px;
  width: 300px;
}

.taille{
  margin-top: 0px;
  height: 66px;
}

