.rounded-shape{
  border-radius: 15px;
}

.rounded-shape-persoMale{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

}

.rounded-shape-persoFemale{
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;}

.field{
  width: 50%;
}

