<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>showPatient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col class="d-flex justify-content-center">
        <ion-avatar class="ion-margin-start">
          <img src="">
        </ion-avatar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="d-flex justify-content-center">
        <h5>{{patient.firstName}} {{patient.lastName}}</h5>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>
        <ion-list-header>Birth date</ion-list-header>
        <ion-item class="rounded-shape">
          <ion-icon slot="start" name="calendar-number"></ion-icon>
          <ion-label>
            <p>{{patient.birthDate| date}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>
        <ion-list-header>E-mail</ion-list-header>

        <ion-item class="rounded-shape">
          <ion-icon slot="start" name="mail-open"></ion-icon>
          <ion-label>
            <p>firas69@69.69</p>
          </ion-label>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list-header>Phone number </ion-list-header>
        <ion-item class="rounded-shape">
          <ion-icon slot="start" name="call"></ion-icon>
          <ion-label>
            <p>{{patient.phoneNumber}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col>
        <ion-list-header>Sexe</ion-list-header>
        <ion-item class="rounded-shape">
          <ion-icon slot="start" name="male-female"></ion-icon>
          <ion-label>
            <p>{{patient.sexe}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

      <hr>
    <ion-row>
      <ion-col>
        <ion-item class="rounded-shape">
          <ion-icon slot="start" name="people"></ion-icon>
          <ion-label>
            <p>{{patient.familyNumber}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list-header>Phone number 1</ion-list-header>
        <ion-item class="rounded-shape">
          <ion-icon slot="start" name="call"></ion-icon>
          <ion-label>
            <p>{{patient.familyPhoneNumber1}}</p>
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-list-header>Phone number 2</ion-list-header>

        <ion-item class="rounded-shape">
          <ion-icon slot="start" name="call"></ion-icon>
          <ion-label>
            <p>{{patient.familyPhoneNumber2}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-grid>


</ion-content>
