<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form class="distance" [formGroup]="loginForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="rounded-shape">
            <ion-label position="stacked">Username</ion-label>
            <ion-input formControlName="username"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="rounded-shape">
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-col class="d-flex justify-content-center">
        <ion-button (click)="logIn()" class="field" expand="round">LogIn</ion-button>
      </ion-col>
      <ion-col class="d-flex justify-content-center">
        <ion-button class="field" expand="round" color="medium">Register</ion-button>
      </ion-col>
    </ion-grid>
  </form>

</ion-content>
