<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Patient List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ion-padding">
    <div>
      <ion-toolbar class="rounded" >
        <ion-searchbar class="setBoreder"></ion-searchbar>
      </ion-toolbar>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPatient()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <div class="container">
    <ion-list class="rounded">
      <ion-list-header>
        My patients
      </ion-list-header>

      <ion-item *ngFor="let patient of patients" button (click)="openPopover($event, patient)">
        <ion-avatar slot="start">
          <img src="">
        </ion-avatar>
        <ion-label>
          <h2>{{patient.firstName}} {{patient.lastName}}</h2>
          <h3>{{patient.ville}} - {{patient.address}}</h3>
          <p>{{patient.phoneNumber}}</p>
        </ion-label>
        <ion-icon name="location-outline"></ion-icon>
      </ion-item>

    </ion-list>
  </div>




</ion-content>
